#LoginBox {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%,-50%);
    background-color: #3162b0;
    width: 25%;
    height: 25%;
}
#LoginHeader {
    width: 100%;
    height: 45px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    background-color: #194181;
    color: white;
}
#LoginForm {

}

#LoginForm form {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 8%;
}
#LoginForm input{
    margin: 10px;
}
